body{

   font-family: sans-serif;
    
}


div{
    margin: auto;
    margin-top:15%; 
    width: 200px;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    font-family: sans-serif;
    border-radius: 10px;
    background-color: rgb(240, 239, 239);
    font-size: 20px;
    background-image: linear-gradient(to bottom, #bebebe,#FFFF,#bebebe);
    
    
    
}
div h2 {

    padding-bottom: 5%;


}
div h3 {


    padding-top: 8%;
}

button{

    padding-top:2px; 

}

input{
    position: inherit;
    width: 70%;
}

.logo{
    float: right;
    position: inherit;
    height: 40px;
     

}
ul{
    width: 100%;
    margin:auto;
    text-decoration: none;
    background-color:#bebebe;
    text-align: center;
    height: 3ch;
    padding-top: 1ch ;
}
ul li{
    
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    display: inline;
    height: 0px;
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3ch ;
    padding-bottom: 1ch;

}
ul li a{
    text-decoration: none;
    color: black;
}
.none-border{
    border-left:none; 


}
