nav{
    margin: auto;
    width: 10%;
    border: 3px solid green;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 10px;
    
}
nav h2 {

    padding-bottom: 5%;


}
nav h3 {


    padding-top: 8%;
}

button{

    padding-top:2px; 

}

input{
    position: inherit;
    width: 70%;
}

